.nav-item{
    margin-left: 2rem;
}
.nav-link:hover{
    color: #387ed1 !important;
}
.team{
    margin-bottom: 8px !important;
}
.teamb{
    margin-top: 8px !important;
}
.support{
    background-color: #387ed1;
    width: 100%;
    padding: "5rem";
    color: 'white';
}
.menu {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(70, 70, 70);

  }
  
  .menu.selected {
    color: rgb(245, 104, 52);
  }
  