.nav-item{
    margin-left: 2rem;
}
.nav-link:hover{
    color: #387ed1 !important;
}
.team{
    margin-bottom: 8px !important;
}
.teamb{
    margin-top: 8px !important;
}
.support{
    background-color: #387ed1;
    width: 100%;
    padding: "5rem";
    color: 'white';
}
.menu {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(70, 70, 70);

  }
  
  .menu.selected {
    color: rgb(245, 104, 52);
  }
  

  body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .nav-link{
    margin-left: 40px;
    font-size:14.4px;
    color: rgba(0, 0, 0, 0.6);
    font-weight:545;
  }
  .nav-link:hover{
    color: #38DE;
    opacity: 1;
  }
  .nav-link:focus{
    color: #38DE;
    opacity: 1;
  }
  .nav-link:active{
    color: #387ed1;
    opacity: 1;
  }
  .nav-link:hover{
    color: #387ed1;
    opacity: 1;
  }
  
  .icons{
    margin-left: 100px;
  }
  .social-icons,.social-media-icons{
    margin-left: 20px;
  }
  .icons-link{
    /* color: black; */
    font-weight: 700;
    font-size: 12px;
    margin-left: 30px;
  }
  tr{
    color: rgba(0, 0, 0, 0.7);
  }
  .equity
  {
    border-bottom: 2px solid #387ed1;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  label {
    font-size: 1.2rem;
    color: #656262;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(143, 187, 204, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } */
  
  .form_container {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }
  
  .form_container > h2 {
    margin-block: 1rem;
    padding-block: 0.6rem;
    color: rgba(0, 212, 255, 1);
  }
  
  .form_container > form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  
  .form_container div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .form_container input {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    font-size: 1.1rem;
    outline: none;
  }
  
  .form_container input::placeholder {
    font-size: 0.9rem;
    font-style: italic;
  }
  
  .form_container button {
    background-color: rgba(0, 212, 255, 1);
    color: #fff;
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  
  span a {
    text-decoration: none;
    color: rgba(0, 212, 255, 1);
  }
  
  .home_page {
    height: 100vh;
    width: 100vw;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .home_page span {
    color: rgba(0, 212, 255, 1);
  }
  
  .home_page button {
    background-color: rgb(27, 73, 83);
    color: #fff;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    transition: ease-in 0.3s;
    border: none;
  }
  
  .home_page button:hover {
    background-color: rgba(0, 212, 255, 1);
  }
  
  
  @media only screen and (max-width: 1200px){
    .home_page{
      font-size: 1.5rem;
    }
    .home_page button {
      padding: 0.6rem 1rem;
      font-size: 1.5rem;
    }
  }